extends layout

block content
  h1= title

  - let tableid = toShow._id
  - let tableBrand = toShow.Brand
  - let tablequality = toShow.quality
  - let tablecost = toShow.cost
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{tableid}
  - let actionid = "/resource/table/" + tableid
  form(id='TableForm', action= actionid, method="PUT")
    div.form-group
        label.costumeAttr(for='Brand') Table Brand
        input#type(type='text', name='Brand', value= Brand )
    div.form-group
        label.costumeAttr(for='quality') Table Quality
        input#price(type='text', name='quality', value= quality )
    div.form-group
        label.costumeAttr(for='cost') Table Cost
        input#flavor(type='text', name='cost', value= cost )
    input(type="submit")

  script.
    document.forms['TableForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });